@import "tailwindcss";

.section-container {
    width: 90%;
    max-width: 1500px;
    min-height: 300px;
    margin: 100px auto 80px;
    padding: 1rem;

    border-radius: none;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);

}
@media (max-width: 640px) {
    .section-container {
        width: 94%;
        min-height: auto;
        padding: 1.25rem;
    }
}