.text-hello {
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Fraunces variable", serif;
    font-style: italic;
}
h1{
    font-size: clamp(30px, 4vw, 45px);
    font-family: "Fraunces variable", serif;

}
h2 {
    font-size: clamp(20px, 4vw, 30px);
    font-family: "Fraunces variable", serif;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(30px, 6vw, 100px);

    padding: clamp(30px, 8vw, 90px);
    margin: 10px;
    margin-top: 80px;
}

.left-section,
.right-section {
    flex: 1;
    min-width: 0;
}

.nombre {
    background: linear-gradient(
        90deg,
        #ec4899,
        #8b5cf6,
        #3b82f6
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.my-information {
    font-size: clamp(16px, 1.5vw, 20px);
    font-family: "Fraunces variable", serif;
}
