.text-hello {
    font-size: clamp(20px, 2vw, 25px);
    font-family: "Fraunces variable", serif;
    font-style: italic;
}
h1{
    font-size: clamp(30px, 4vw, 45px);
    font-family: "Fraunces variable", serif;

}
h2 {
    font-size: clamp(20px, 4vw, 30px);
    font-family: "Fraunces variable", serif;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(30px, 6vw, 100px);

    padding: clamp(30px, 8vw, 100px);
    margin: 10px;
}

.left-section,
.right-section {
    flex: 1;
    min-width: 0;
}

.buttons-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.btn-portafolio {
    background-color: #7c3aed;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    height: 45px;
    width: 170px;
    border: none;
}

.btn-write {
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    cursor: pointer;
    height: 45px;
    width: 130px;
}


.nombre {
    background: linear-gradient(
        90deg,
        #ec4899,
        #8b5cf6,
        #3b82f6
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.my-information {
    font-size: clamp(16px, 1.5vw, 20px);
    font-family: "Fraunces variable", serif;
}
