.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 30px;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.navbar a {
    font-size: 25px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #B14AED;
}