.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: clamp(15px, 3vw, 30px);

    list-style: none;
    margin: 0;
    margin-top:20px;
    padding: 20px 30px;

    position: relative;
}


.navbar a {
    font-size: clamp(15px, 1.5vw, 20px);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;

    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #a78bfa;
}
